@media screen and (max-width:480px){
  .flex_container{
    flex-direction: column;
    padding: 10px;
  }
  .contact_picture{
    display: none;
  }
  .rounded_card{
    width: auto;
  }
  .navbar_mobile{
    flex-direction: row;
  }
  .nav_item{
    font-size: 10px;
  }
  .items{
    gap: 1px;
  }
}